body{
    background-color: aliceblue;
}
h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
p{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
